.tab-bar {
    --background: black;
    --border-color: white;
}

.heading{
    text-align: center;
    color: #ff4848;
    font-size: 30px;
    font-style: initial;  
}

.notifications-icon{
    color: #ff4848;
}


.post_card_slides {
    height: 300px;
    width: 100%;
    border: white;
    border-width: 20px;
}
.post_slides {
    background-color: white;
    border: white;
    border-width: 20px;
}

.img {
    padding: 4px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-fit: fill;
    border-width: 4px;
    border-color: white;
}

.details_card_title {
    text-align: center;
}

.details_card_subtitle{
    display: inline-block;
}

.details_card_subtitle_saved {
    text-align: right;
}

.details_card {
    color: black;
}

.like-save-saerch {
    color: #ff4848;
}

.read_more {
    color: white;
}
