<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="heading">Unthought</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab-bar" [translucent]="true">
    <ion-tab-button tab="mentor-home" class="tab-button">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentor-active-zone">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Active</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentor-post">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentor-events">
      <ion-icon name="flash-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="mentor-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
