.tab-bar {
    --background: black;
    --border-color: white;
}

.heading{
    text-align: center;
    color: #ff4848;
    font-size: 30px;
    font-style: initial;  
}

.notifications-icon{
    color: #ff4848;
}
