.tab-bar {
    --background: black;
    --border-color: white;
}

.heading{
    text-align: center;
    color: red;
    font-size: 30px;
    font-style: initial;  
}

.notifications-icon{
    color: red;
}
