<ion-header >
  <ion-toolbar class="tab-bar">
    <ion-title>
      <div class="heading">Unthought</div>
    </ion-title>
    <ion-icon name="notifications" slot="end" size ="large" class="notifications-icon" [routerLink]="['/user/notifications']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="heading2">
    Add Your own Project 
  </div>


    <div *ngIf="this.slide_no == 1">

      <div class="heading_slides">
        <h3> Enter Basic Details </h3>
      </div>

      <form #form="ngForm" class="form_name" (ngSubmit)="Slide1_submit(form)">
        <div>
          <ion-grid>
            <ion-row>
             <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
               <div class="req">*Required</div>
             </ion-col>
            </ion-row>   
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label position="floating">Title Of Project*</ion-label>
                    <ion-input type = 'text' ngModel name ="posttitle" required #posttitleCtrl="ngModel"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!posttitleCtrl.valid && posttitleCtrl.touched" lines="none">
                    <div class="warn"> Please Enter Your Project Title</div>
                  </ion-item>                                 
                </div>
              </ion-col>
            </ion-row>         
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label position="floating">Short Description Of Project (within 50 charaters)*</ion-label>
                    <ion-input type = 'text' ngModel name ="shortdec" required #shortdecCtrl="ngModel"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!shortdecCtrl.valid && shortdecCtrl.touched" lines="none">
                    <div class="warn"> Please Enter Short Description Of Project</div>
                  </ion-item>                                 
                </div>
              </ion-col>
            </ion-row>         
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label position="floating">Long Description Of Post*</ion-label>
                    <ion-textarea type = 'text' ngModel name ="longdec" required #longdecCtrl="ngModel"></ion-textarea>
                  </ion-item>
                  <ion-item *ngIf="!longdecCtrl.valid && longdecCtrl.touched" lines="none">
                    <div class="warn"> Please Enter Long Description Of Project</div>
                  </ion-item>                                 
                </div>
              </ion-col>
            </ion-row>         
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label position="floating">Goal Of The Project*</ion-label>
                    <ion-input type = 'text' ngModel name ="projgoal" required #projgoalCtrl="ngModel"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!projgoalCtrl.valid && projgoalCtrl.touched" lines="none">
                    <div class="warn"> Please Enter the Goal Of Project</div>
                  </ion-item>                                 
                </div>
              </ion-col>
            </ion-row>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label position="floating">WorkDone For this Project*</ion-label>
                    <ion-input type = 'text' ngModel name ="projwork" required #projworkCtrl="ngModel"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!projworkCtrl.valid && projworkCtrl.touched" lines="none">
                    <div class="warn"> Please Enter the work done done for this Project till now</div>
                  </ion-item>                                 
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="success" type="submit" [disabled]="!form.valid" ><!-- s -->
                Next
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form>

    </div>

    <div *ngIf="this.slide_no == 2">

      <div class="heading_slides">
        <h3> Add Requriments</h3>
        <h4> Requirments are the categories in which you need members or co-founders.<br> All 4 requirments are compulsury.<br>You can repeat the same requirment.</h4>
      </div>

      <div> 
        <ion-grid>
          <ion-row>
            <ion-col>

              <ion-card class="primary_select" (click)="this.primary_toggle = !this.primary_toggle">
                <div class="pry" *ngIf="this.selected == undefined">REQURIMENT 1*</div>
                <div class="pry" *ngIf="this.selected">{{ this.selected }}</div>
              </ion-card>
              <div class="requriment_chips" *ngIf="this.primary_toggle == true">
                <ion-chip class="primary2_select" (click)="primarySelcted('digital marketing')"> Digitial Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('affiliate marketing')"> Affiliate Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('content marketing')"> Content Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('network and social media marketing')"> Network And Social Media Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('web and app development')"> Web and App Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('machine learning and artificial intelligence')"> Machine Learning and Artificial Intelligence</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('cyber security and ethical hacking')"> Cyber Security And Ethical Hacking</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('ar/vr and game development')"> AR/VR and Game Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('graphic and ux/ui designer')"> Graphic and UX/UI Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('product Design and animation')"> Product Design and Animation</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('fashion designer')"> Fashion Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('interior designer')"> Interior Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('illustrator and photographer')"> Illustrator and Photographer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted('legal(advocate)')"> Legal(Advocate)</ion-chip>
              </div>
             
              <ion-card class="primary_select" (click)="this.primary2_toggle = !this.primary2_toggle">
                <div class="pry" *ngIf="this.selected2 == undefined">REQURIMENT 2*</div>
                <div class="pry" *ngIf="this.selected2">{{ this.selected2 }}</div>
              </ion-card>
              <div class="requriment_chips" *ngIf="this.primary2_toggle == true && this.selected == undefined">Please Select your Requirment 1</div>
              <div class="requriment_chips" *ngIf="this.primary2_toggle == true && this.selected != undefined">
                <ion-chip class="primary2_select" (click)="primarySelcted2('digital marketing')"> Digitial Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('affiliate marketing')"> Affiliate Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('content marketing')"> Content Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('network and social media marketing')"> Network And Social Media Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('web and app development')"> Web and App Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('machine learning and artificial intelligence')"> Machine Learning and Artificial Intelligence</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('cyber security and ethical hacking')"> Cyber Security And Ethical Hacking</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('ar/vr and game development')"> AR/VR and Game Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('graphic and ux/ui designer')"> Graphic and UX/UI Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('product Design and animation')"> Product Design and Animation</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('fashion designer')"> Fashion Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('interior designer')"> Interior Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('illustrator and photographer')"> Illustrator and Photographer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted2('legal(advocate)')"> Legal(Advocate)</ion-chip>
              </div>

              <ion-card class="primary_select" (click)="this.primary3_toggle = !this.primary3_toggle">
                <div class="pry" *ngIf="this.selected3 == undefined">REQURIMENT 3*</div>
                <div class="pry" *ngIf="this.selected3">{{ this.selected3 }}</div>
              </ion-card>
              <div class="requriment_chips" *ngIf="this.primary3_toggle == true && this.selected == undefined && this.selected2 == undefined">Please Select Your Requriment 1 and Requriment 2</div>
              <div class="requriment_chips" *ngIf="this.primary3_toggle == true && this.selected != undefined && this.selected2 != undefined">
                <ion-chip class="primary2_select" (click)="primarySelcted3('digital marketing')"> Digitial Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('affiliate marketing')"> Affiliate Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('content marketing')"> Content Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('network and social media marketing')"> Network And Social Media Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('web and app development')"> Web and App Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('machine learning and artificial intelligence')"> Machine Learning and Artificial Intelligence</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('cyber security and ethical hacking')"> Cyber Security And Ethical Hacking</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('ar/vr and game development')"> AR/VR and Game Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('graphic and ux/ui designer')"> Graphic and UX/UI Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('product Design and animation')"> Product Design and Animation</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('fashion designer')"> Fashion Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('interior designer')"> Interior Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('illustrator and photographer')"> Illustrator and Photographer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted3('legal(advocate)')"> Legal(Advocate)</ion-chip>
              </div>
              
              <ion-card class="primary_select" (click)="this.primary4_toggle = !this.primary4_toggle">
                <div class="pry" *ngIf="this.selected4 == undefined">REQURIMENT 4*</div>
                <div class="pry" *ngIf="this.selected4">{{ this.selected4 }}</div>
              </ion-card>
              <div class="requriment_chips" *ngIf="this.primary4_toggle == true && this.selected == undefined && this.selected2 == undefined && this.selected3 == undefined">Please Select Your Requriment 1,Requriment 2 and Requriment 3</div>
              <div class="requriment_chips" *ngIf="this.primary4_toggle == true && this.selected != undefined && this.selected2 != undefined && this.selected3 != undefined">
                <ion-chip class="primary2_select" (click)="primarySelcted4('digital marketing')"> Digitial Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('affiliate marketing')"> Affiliate Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('content marketing')"> Content Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('network and social media marketing')"> Network And Social Media Marketing</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('web and app development')"> Web and App Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('machine learning and artificial intelligence')"> Machine Learning and Artificial Intelligence</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('cyber security and ethical hacking')"> Cyber Security And Ethical Hacking</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('ar/vr and game development')"> AR/VR and Game Development</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('graphic and ux/ui designer')"> Graphic and UX/UI Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('product Design and animation')"> Product Design and Animation</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('fashion designer')"> Fashion Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('interior designer')"> Interior Designer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('illustrator and photographer')"> Illustrator and Photographer</ion-chip>
                <ion-chip class="primary2_select" (click)="primarySelcted4('legal(advocate)')"> Legal(Advocate)</ion-chip>
              </div>
            
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="back(1)">
              <ion-icon name="arrow-back-outline"></ion-icon>
              Back
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="Slide2_submit()" [disabled]="this.selected == undefined || this.selected2 == undefined || this.selected3 == undefined || this.selected4 == undefined"><!--[disabled]="this.selected == undefined || this.selected2 == undefined || this.selected3 == undefined || this.selected4 == undefined"-->
              Next
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

    </div>
    
    <div *ngIf="this.slide_no == 3">

      <div class="heading_slides">
        <h3> Add Pictures </h3>
        <h4> It can be logo or anything realted to project. <br> One picture is compulsury which will as act your project DP.</h4>
      </div>

     <div>
       <ion-grid>

          <ion-row>
            <ion-col>
              <ion-button *ngIf='!this.imageStringDp' expand="block" color="light" (click)="this.imageStringDp_toggle = !this.imageStringDp_toggle" class="add_pic_button">
                Add Project DP
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button *ngIf='this.imageStringDp' expand="block" color="light" (click)="this.imageStringDp_toggle = false" (click)="this.imageStringDp = undefined" class="add_pic_button">
                Change Project DP
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-row class="image_div" *ngIf="this.imageStringDp_toggle == true" >
                <ion-col size-md="6" offset-md="3">
                  <div *ngIf="this.imageStringDp_toggle == true">
                    <app-image-picker (imagePick)="onImagePickedDp($event)"  ></app-image-picker>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button *ngIf='!this.imageString1' expand="block" color="light" (click)="this.imageString1_toggle = !this.imageString1_toggle" class="add_pic_button">
                Add second picture 
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button *ngIf='this.imageString1' expand="block" color="light" (click)="this.imageString1_toggle = false" (click)="this.imageString1 = undefined" class="add_pic_button">
                Change second picture
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <div class="image_div" *ngIf="this.imageString1_toggle == true && this.imageStringDp == undefined" > Please Add the project Dp Before this.</div>
              <ion-row class="image_div" *ngIf="this.imageString1_toggle == true && this.imageStringDp != undefined" >
                <ion-col size-md="6" offset-md="3">
                  <div *ngIf='this.imageString1_toggle == true'>
                    <app-image-picker (imagePick)="onImagePicked1($event)"  ></app-image-picker>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button *ngIf='!this.imageString2' expand="block" color="light" (click)="this.imageString2_toggle = !this.imageString2_toggle" class="add_pic_button">
                Add thrid picture
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button *ngIf='this.imageString2' expand="block" color="light" (click)="this.imageString2_toggle = false" (click)="this.imageString2 = undefined" class="add_pic_button">
                Change thrid picture
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <div class="image_div" *ngIf="this.imageString2_toggle == true && this.imageString1 == undefined" > Please Add the project Dp and Secon picture Before this.</div>
              <ion-row class="image_div" *ngIf="this.imageString2_toggle == true && this.imageString1 != undefined && this.imageStringDp != undefined" >
                <ion-col size-md="6" offset-md="3">
                  <div *ngIf='this.imageString2_toggle == true'>
                    <app-image-picker (imagePick)="onImagePicked2($event)"  ></app-image-picker>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

       </ion-grid>
     </div>

      <div>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="back(2)">
              <ion-icon name="arrow-back-outline"></ion-icon>
              Back
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" [disabled]="!this.imageStringDp" (click)="this.presentAlertPost()">
              Submit
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

    </div>

</ion-content>
