.ion-slides {
    height: 100%;
} 
.swiper-slide {
    display: block;
    background-color: black;
  }

  .div {
    width: 100%;
}
.warn{
  color: red;
}
.req {
    color: red;
    text-align: right;
}
.primary_select {
    background: white;
    color: black;
    height: 50px;
    padding: 10px;
}
.pry {
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: 600;
  }
.primary2_select{
    background: black;
    color:red;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    font-weight: 200;
}
  
  