.tab-bar {
    --background: black;
    --border-color: white;
}

.heading{
    text-align: center;
    color: #ff4848;
    font-size: 30px;
    font-style: initial;  
}

.notifications-icon{
    color: #ff4848;
}

.search-chip{
    color: white;
    background: #ff4848;
}

.SEARCH-For {
    color: #ff4848;
    margin: 0px;
}

.search {
    background-color: black;
    color: #ff4848;
    font-size: 15px;
    --icon-color: #ff4848;
    --placeholder-font-weight: 700;
    --placeholder-opacity: 1;
    --box-shadow: 0.5;
}

.like-save-saerch {
    color: #ff4848;
}

.post_header {
    height: 75px;
}

.post_mode {
    height: 75px;
    color: gray;
    text-align: right;
    padding-top: 55px;
    padding-right: 15px;
    font-size: medium;
}

.post_content {
    padding-inline: 3px;
    padding-block: 7px;
}

.post_img {
    object-fit: fill;
    width: 100%;
    height: 200px;
}