<ion-header >
  <ion-toolbar class="tab-bar">
    <ion-title>
      <div class="heading">Unthought</div>
    </ion-title>
    <ion-icon name="notifications" slot="end" size ="large" class="notifications-icon" [routerLink]="['/user/notifications']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="heading2">
    Edit Your own Project 
  </div>

  <div *ngIf="this.slide_no == 1">
    <div class="heading_slides">
      <h3> Edit Your Basic Details </h3>
    </div>

    <form #form="ngForm" class="form_name" (ngSubmit)="Slide1_submit(form)">
      <div>
        <ion-grid>
          <ion-row>
           <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
             <div class="req">*Required</div>
           </ion-col>
          </ion-row>   
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Title Of Project*</ion-label>
                  <ion-input type = 'text' ngModel name ="posttitle" value = '{{this.curent_data.title_of_post}}' required #posttitleCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!posttitleCtrl.valid && posttitleCtrl.touched" lines="none">
                  <div class="warn"> Please Enter Your Project Title</div>
                </ion-item>                                 
              </div>
            </ion-col>
          </ion-row>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Short Description Of Project (within 50 charaters)*</ion-label>
                  <ion-input type = 'text' ngModel name ="shortdec" [(ngModule)] = 'this.curent_data.short_desc' required #shortdecCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!shortdecCtrl.valid && shortdecCtrl.touched" lines="none">
                  <div class="warn"> Please Enter Short Description Of Project</div>
                </ion-item>                                 
              </div>
            </ion-col>
          </ion-row>         
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Long Description Of Post*</ion-label>
                  <ion-textarea type = 'text' ngModel name ="longdec" [(ngModule)] = 'long_desc' required #longdecCtrl="ngModel"></ion-textarea>
                </ion-item>
                <ion-item *ngIf="!longdecCtrl.valid && longdecCtrl.touched" lines="none">
                  <div class="warn"> Please Enter Long Description Of Project</div>
                </ion-item>                                 
              </div>
            </ion-col>
          </ion-row>         
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Goal Of The Project*</ion-label>
                  <ion-input type = 'text' ngModel name ="projgoal" [(ngModule)] = 'goal_of_project' required #projgoalCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!projgoalCtrl.valid && projgoalCtrl.touched" lines="none">
                  <div class="warn"> Please Enter the Goal Of Project</div>
                </ion-item>                                 
              </div>
            </ion-col>
          </ion-row>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">WorkDone For this Project*</ion-label>
                  <ion-input type = 'text' ngModel name ="projwork" [(ngModule)] = 'workdone' required #projworkCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!projworkCtrl.valid && projworkCtrl.touched" lines="none">
                  <div class="warn"> Please Enter the work done done for this Project till now</div>
                </ion-item>                                 
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" type="submit" [disabled]="!form.valid" ><!-- s -->
              Next
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
  <div *ngIf="this.slide_no == 2">

    <div class="heading_slides">
      <h3> Add Requriments</h3>
      <h4> Requirments are the categories in which you need members or co-founders.<br> All 4 requirments are compulsury.<br>You can repeat the same requirment.</h4>
    </div>

    <div> 
      <ion-grid>
        <ion-row>
          <ion-col>

            <ion-card class="primary_select" (click)="this.primary_toggle = !this.primary_toggle">
              <div class="pry" *ngIf="this.selected == undefined">REQURIMENT 1*</div>
              <div class="pry" *ngIf="this.selected">{{ this.selected }}</div>
            </ion-card>
            <div class="requriment_chips" *ngIf="this.primary_toggle == true">
              <ion-chip class="primary2_select" (click)="primarySelcted('web development')"> Web Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('app development')"> App Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('arvr program')"> Ar/Vr Program</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('ethical hacking')"> Ethical Hacking</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('game designer')"> Game Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('ml engineer')"> M.L Engineer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('software developer')"> Software Developer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('cyber security')"> Cyber Security</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('digital marketing')"> Digitial Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('direct marketing')"> Direct Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('content marketing')"> Content Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('network marketing')"> Network Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('social marketing')"> SOCIAL MARKETING</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('graphic designer')"> Graphic Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('ux/ui designer')"> Ux/Ui Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('animator')"> Animator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('fasion designer')"> Fasion Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('illustrator')"> Illustrator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('interior designer')"> Interior Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('photographer')"> Photographer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('product designer')"> Product Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('sound designer')"> Sound Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('legal')"> Legal</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('finance')"> Finance</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted('general')"> General</ion-chip>
            </div>
           
            <ion-card class="primary_select" (click)="this.primary2_toggle = !this.primary2_toggle">
              <div class="pry" *ngIf="this.selected2 == undefined">REQURIMENT 2*</div>
              <div class="pry" *ngIf="this.selected2">{{ this.selected2 }}</div>
            </ion-card>
            <div class="requriment_chips" *ngIf="this.primary2_toggle == true">
              <ion-chip class="primary2_select" (click)="primarySelcted2('web development')"> Web Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('app development')"> App Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('arvr program')"> Ar/Vr Program</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('ethical hacking')"> Ethical Hacking</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('game designer')"> Game Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('ml engineer')"> M.L Engineer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('software developer')"> Software Developer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('cyber security')"> Cyber Security</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('digital marketing')"> Digitial Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('direct marketing')"> Direct Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('content marketing')"> Content Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('network marketing')"> Network Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('social marketing')"> SOCIAL MARKETING</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('graphic designer')"> Graphic Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('ux/ui designer')"> Ux/Ui Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('animator')"> Animator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('fasion designer')"> Fasion Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('illustrator')"> Illustrator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('interior designer')"> Interior Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('photographer')"> Photographer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('product designer')"> Product Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('sound designer')"> Sound Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('legal')"> Legal</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('finance')"> Finance</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted2('general')"> General</ion-chip>
            </div>

            <ion-card class="primary_select" (click)="this.primary3_toggle = !this.primary3_toggle">
              <div class="pry" *ngIf="this.selected3 == undefined">REQURIMENT 3*</div>
              <div class="pry" *ngIf="this.selected3">{{ this.selected3 }}</div>
            </ion-card>
            <div class="requriment_chips" *ngIf="this.primary3_toggle == true">
              <ion-chip class="primary2_select" (click)="primarySelcted3('web development')"> Web Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('app development')"> App Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('arvr program')"> Ar/Vr Program</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('ethical hacking')"> Ethical Hacking</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('game designer')"> Game Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('ml engineer')"> M.L Engineer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('software developer')"> Software Developer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('cyber security')"> Cyber Security</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('digital marketing')"> Digitial Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('direct marketing')"> Direct Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('content marketing')"> Content Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('network marketing')"> Network Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('social marketing')"> SOCIAL MARKETING</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('graphic designer')"> Graphic Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('ux/ui designer')"> Ux/Ui Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('animator')"> Animator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('fasion designer')"> Fasion Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('illustrator')"> Illustrator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('interior designer')"> Interior Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('photographer')"> Photographer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('product designer')"> Product Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('sound designer')"> Sound Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('legal')"> Legal</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('finance')"> Finance</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted3('general')"> General</ion-chip>
            </div>
            
            <ion-card class="primary_select" (click)="this.primary4_toggle = !this.primary4_toggle">
              <div class="pry" *ngIf="this.selected4 == undefined">REQURIMENT 4*</div>
              <div class="pry" *ngIf="this.selected4">{{ this.selected4 }}</div>
            </ion-card>
            <div class="requriment_chips" *ngIf="this.primary4_toggle == true">
              <ion-chip class="primary2_select" (click)="primarySelcted4('web development')"> Web Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('app development')"> App Development</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('arvr program')"> Ar/Vr Program</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('ethical hacking')"> Ethical Hacking</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('game designer')"> Game Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('ml engineer')"> M.L Engineer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('software developer')"> Software Developer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('cyber security')"> Cyber Security</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('digital marketing')"> Digitial Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('direct marketing')"> Direct Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('content marketing')"> Content Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('network marketing')"> Network Marketing</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('social marketing')"> SOCIAL MARKETING</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('graphic designer')"> Graphic Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('ux/ui designer')"> Ux/Ui Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('animator')"> Animator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('fasion designer')"> Fasion Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('illustrator')"> Illustrator</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('interior designer')"> Interior Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('photographer')"> Photographer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('product designer')"> Product Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('sound designer')"> Sound Designer</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('legal')"> Legal</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('finance')"> Finance</ion-chip>
              <ion-chip class="primary2_select" (click)="primarySelcted4('general')"> General</ion-chip>
            </div>
          
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="back(1)">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="success" (click)="Slide2_submit()" [disabled]="this.selected == undefined || this.selected2 == undefined || this.selected3 == undefined || this.selected4 == undefined"><!--[disabled]="this.selected == undefined || this.selected2 == undefined || this.selected3 == undefined || this.selected4 == undefined"-->
            Next
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="this.slide_no == 3">

    <div class="heading_slides">
      <h3> Add Pictures </h3>
      <h4> It can be logo or anything realted to project. <br> One picture is compulsury which will as act your project DP.</h4>
    </div>
  </div>

</ion-content>