<ion-header >
  <ion-toolbar class="tab-bar">
    <ion-title>
      <div class="heading">Unthought</div>
    </ion-title>
    <ion-icon name="notifications" slot="end" size ="large" class="notifications-icon" [routerLink]="['/user/notifications']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="heading2">
    Make Your Profile
  </div>

  <div *ngIf="this.slide_no == 1">

    <form #form="ngForm" (ngSubmit)="Slide1_submit(form)">
      <div>
        <ion-grid>
          <ion-row>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div class="req">*Required</div>
            </ion-col>
          </ion-row>
          
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Unique Name*</ion-label>
                  <ion-input type = 'text' ngModel name ="Uname" required #UnameCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!UnameCtrl.valid && UnameCtrl.touched" lines="none">
                  <div class="warn"> Please Enter Your Unique Name. Unique name can have upper-case, lower-case and special characters !</div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Password*</ion-label>
                  <ion-input type = 'text' ngModel name ="password" required #passwordCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                  <div class="warn"> Please Enter Your Password. Password can have upper-case, lower-case and special characters !</div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">Phone Number*</ion-label>
                  <ion-input type = 'text' inputmode="numeric" ngModel name ="phonenumber" required maxlength="10" minlength="10" #phonenumberCtrl="ngModel" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!phonenumberCtrl.valid && phonenumberCtrl.touched" lines="none">
                <div class="warn">  Please Enter Valid Phone Number</div>
              </ion-item>  
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" (click)="this.slide_no = 2"><!-- type="submit" [disabled]="!form.valid" -->
              Next
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      
    </form>
  </div>

  <div *ngIf="this.slide_no == 2">

    <div class="heading_slides">
      <h3> Enter Basic Details </h3>
    </div>

    <form #form2="ngForm" (ngSubmit)="Slide2_submit(form2)">
      <div>
        <ion-grid>

          <ion-row>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div class="req">*Required</div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Your Full Name*</ion-label>
                  <ion-input type = 'text' ngModel name ="Mname" required #MnameCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!MnameCtrl.valid && MnameCtrl.touched" lines="none">
                  <div class="warn"> Please Enter Your Name</div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>  
                <ion-item>
                  <ion-label>Gender:*</ion-label>
                    <ion-select interface="popover"ngModel name ="gender" required #genderCtrl="ngModel">
                    <ion-select-option value="male">Male</ion-select-option>
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="other">Others</ion-select-option>
                  </ion-select>
                </ion-item> 
                <ion-item *ngIf="!genderCtrl.valid && genderCtrl.touched" lines="none">
                  <div class="warn">  Please Enter Your Gender</div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">Date of Birth*</ion-label>
                <ion-input type = 'text' ngModel name ="dob" required #dobCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!dobCtrl.valid " lines="none">
                <div class="warn">Your Date Of Birth in dd/mm/yyyy</div>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">Email Address*</ion-label>
                <ion-input type = 'text' ngModel name ="email" required #emailCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <div class="warn">  Please Enter Email Address</div>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Working Status*</ion-label>
                  <ion-select interface="popover"ngModel name ="workstatus" [(ngModel)]="working_status" required #workstatusCtrl="ngModel">
                    <ion-select-option value="true">Working</ion-select-option>
                    <ion-select-option value="false">Student</ion-select-option>
                  </ion-select>
                  </ion-item>
                <ion-item *ngIf="!workstatusCtrl.valid && workstatusCtrl.touched" lines="none">
                  <div class="warn">  Please Enter Working Status</div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center *ngIf="this.working_status == 'false'"> 
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Course*</ion-label>
                  <ion-input type = 'text' ngModel name ="course" required #courseCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!courseCtrl.valid && courseCtrl.touched" lines="none">
                  <div class="warn">  Please Enter Your Course</div>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center *ngIf="this.working_status == 'false'">
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">College Name*</ion-label>
                <ion-input type = 'text' ngModel name ="college" required #collegeCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!collegeCtrl.valid && collegeCtrl.touched" lines="none">
                <div class="warn">  Please Enter college Name</div>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row color="primary" justify-content-center *ngIf="this.working_status == 'true'">
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">Campany Name*</ion-label>
                <ion-input type = 'text' ngModel name ="campany" required #campanyCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!campanyCtrl.valid && campanyCtrl.touched" lines="none">
                <div class="warn">  Please Enter Campany Name</div>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid> 
      </div>
    
      <div>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="back(1)">
              <ion-icon name="arrow-back-outline"></ion-icon>
              Back
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="this.slide_no = 3" ><!-- type="submit" [disabled]="!form2.valid" -->
              Next
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

    </form>
  </div>
    
  <div *ngIf="this.slide_no == 3">

    <div class="heading_slides">
      <h3> Add Your Domaims</h3>
      <h4> These are the Domains in which you have sills<br> All 4 requirments are compulsury.<br>You can repeat the same requirment.</h4>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-row>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div class="req">*Required</div>
            </ion-col>
          </ion-row>

          <ion-card class="primary_select" (click)="this.primary_toggle = !this.primary_toggle">
            <div class="pry" *ngIf="this.pri_specification_main == undefined || this.pri_specification_sub == undefined">Select Primary Domain*</div>
            <div class="pry" *ngIf="this.pri_specification_main !== undefined && this.pri_specification_sub !== undefined">{{this.pri_specification_main}}, {{this.pri_specification_sub}}</div>
          </ion-card>
          <div class="requriment_chips" *ngIf="this.primary_toggle == true">
            <ion-chip class="primary2_select" (click)="primarySelcted('software development')"> Software Development</ion-chip> <br>
            <div class="requriment_chips" *ngIf="primary_sub_toggle == true && this.pri_specification_main == 'software development' ">
              <ion-chip (click)="primarysubSelcted('web development')"> Web Development</ion-chip>
              <ion-chip (click)="primarysubSelcted('app development')"> App Development</ion-chip>
              <ion-chip (click)="primarysubSelcted('arvr program')"> Ar/Vr Program</ion-chip>
              <ion-chip (click)="primarysubSelcted('ethical hacking')"> Ethical Hacking</ion-chip>
              <ion-chip (click)="primarysubSelcted('game designer')"> Game Designer</ion-chip>
              <ion-chip (click)="primarysubSelcted('ml engineer')"> M.L Engineer</ion-chip>
              <ion-chip (click)="primarysubSelcted('software developer')"> Software Developer</ion-chip>
              <ion-chip (click)="primarysubSelcted('cyber security')"> Cyber Security</ion-chip>
            </div>
            <ion-chip class="primary2_select" (click)="primarySelcted('marketing')"> Marketing</ion-chip> <br>
            <div class="requriment_chips" *ngIf="primary_sub_toggle == true && this.pri_specification_main == 'marketing' ">
              <ion-chip (click)="primarysubSelcted('digital marketing')"> Digitial Marketing</ion-chip>
              <ion-chip (click)="primarysubSelcted('direct marketing')"> Direct Marketing</ion-chip>
              <ion-chip (click)="primarysubSelcted('content marketing')"> Content Marketing</ion-chip>
              <ion-chip (click)="primarysubSelcted('network marketing')"> Network Marketing</ion-chip>
              <ion-chip (click)="primarysubSelcted('social marketing')"> SOCIAL MARKETING</ion-chip>
            </div>
            
            <ion-chip class="primary2_select" (click)="primarySelcted('designing')"> Designing</ion-chip> <br>
            <div class="requriment_chips" *ngIf="primary_sub_toggle == true && this.pri_specification_main == 'designing' ">
              <ion-chip (click)="primarysubSelcted('graphic designer')"> Graphic Designer</ion-chip>
              <ion-chip (click)="primarysubSelcted('ux/ui designer')"> Ux/Ui Designer</ion-chip>
              <ion-chip (click)="primarysubSelcted('animator')"> Animator</ion-chip>
              <ion-chip (click)="primarysubSelcted('fasion designer')"> Fasion Designer</ion-chip>
              <ion-chip (click)="primarysubSelcted('illustrator')"> Illustrator</ion-chip>
              <ion-chip (click)="primarysubSelcted('interior designer')"> Interior Designer</ion-chip>
              <ion-chip (click)="primarysubSelcted('photographer')"> Photographer</ion-chip>
              <ion-chip (click)="primarysubSelcted('product designer')"> Product Designer</ion-chip>
              <ion-chip (click)="primarysubSelcted('sound designer')"> Sound Designer</ion-chip>
            </div>
          </div>
          
          <ion-card class="secoundary_select" (click)="this.secoundary_toggle = !this.secoundary_toggle">
            <div class="pry" *ngIf="this.sec_specification_main == undefined || this.sec_specification_sub == undefined">Select Secoundary Domain*</div>
            <div class="pry" *ngIf="this.sec_specification_main !== undefined && this.sec_specification_sub !== undefined">{{this.sec_specification_main}}, {{this.sec_specification_sub}}</div>
          </ion-card>
          <div class="requriment_chips" *ngIf="this.secoundary_toggle == true && this.pri_specification_main == undefined && this.pri_specification_sub == undefined"> Please add primary specification First</div>
          <div class="requriment_chips" *ngIf="this.secoundary_toggle == true && this.pri_specification_main !== undefined && this.pri_specification_sub !== undefined">
            <ion-chip class="secoundary2_select" (click)="secoundarySelcted('software development')"> Software Development</ion-chip> <br>
            <div class="requriment_chips" *ngIf="secoundary_sub_toggle == true && this.sec_specification_main == 'software development' ">
              <ion-chip (click)="secoundarysubSelcted('web development')"> Web Development</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('app development')"> App Development</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('arvr program')"> Ar/Vr Program</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('ethical hacking')"> Ethical Hacking</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('game designer')"> Game Designer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('ml engineer')"> M.L Engineer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('software developer')"> Software Developer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('cyber security')"> Cyber Security</ion-chip>
            </div>
            <ion-chip class="secoundary2_select" (click)="secoundarySelcted('marketing')"> Marketing</ion-chip> <br>
            <div class="requriment_chips" *ngIf="secoundary_sub_toggle == true && this.sec_specification_main == 'marketing' ">
              <ion-chip (click)="secoundarysubSelcted('digital marketing')"> Digitial Marketing</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('direct marketing')"> Direct Marketing</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('content marketing')"> Content Marketing</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('network marketing')"> Network Marketing</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('social marketing')"> SOCIAL MARKETING</ion-chip>
            </div>
            <ion-chip class="secoundary2_select" (click)="secoundarySelcted('designing')"> Designing</ion-chip> <br>
            <div class="requriment_chips" *ngIf="secoundary_sub_toggle == true && this.sec_specification_main == 'designing' ">
              <ion-chip (click)="secoundarysubSelcted('graphic designer')"> Graphic Designer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('ux/ui designer')"> Ux/Ui Designer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('animator')"> Animator</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('fasion designer')"> Fasion Designer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('illustrator')"> Illustrator</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('interior designer')"> Interior Designer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('photographer')"> Photographer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('product designer')"> Product Designer</ion-chip>
              <ion-chip (click)="secoundarysubSelcted('sound designer')"> Sound Designer</ion-chip>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="back(2)">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="success" (click)="Slide3_submit()" [disabled]="this.pri_specification_main == undefined || this.pri_specification_sub == undefined || this.sec_specification_main == undefined || this.sec_specification_sub == undefined" ><!-- (click)="this.slide_no = 4" -->
            Next
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>
    
  <div *ngIf="this.slide_no == 4">

    <h2>slide 3</h2>

    <div>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            iendvjcn
          </ion-col>
          </ion-row>
      </ion-grid>        
    </div>

  </div> 

</ion-content>
