.Wc{
    text-align: center;
    font-size: 30px;
    font-style: initial;  
    padding-top: 100px;    
  
}
.heading{
    color: red;
    text-align: center;
    font-size: 50px;
    font-style: initial;  
    padding-top: 100px;    
  }
  .head{
    text-align: center;
    font-size: 30px;
    font-style: initial;  
    color: red;
  }