<ion-header >
  <ion-toolbar class="tab-bar">
    <ion-title>
      <div class="heading">Unthought</div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager="true" class="ion-slides">
    <ion-slide>
      <h1>Slide 1 welcome slide </h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2 for Intro, rules and regulations </h1>
    </ion-slide>
    <ion-slide>
      <div>
        <form #form="ngForm" (ngSubmit)="login(form)">
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                  <h2 class="login">Login</h2>
                </div>
                <br><br><br>
                <div padding>
                  <ion-item class="item">
                    <ion-input name="username" placeholder="your_username" ngModel required></ion-input>
                  </ion-item>
                  <ion-item class="item">
                    <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                  </ion-item>
                </div>
                <br><br>
                <div padding>
                  <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" >Login</ion-button>
                  <br><br><br><br>
                  <h3 class="login"> Don't have a account Sign up Fast !!</h3><br>
                  <ion-button size="large" expand="block" [routerLink]="['/sign-up-as']">Sign Up</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
