.ion-slides {
    height: 100%;
} 

.div {
    width: 100%;
}
.swiper-slide {
    display: block;
    background-color: black;
  }


.tab-bar {
    --background: black;
    --border-color: white;
}

.heading{
    text-align: center;
    color: red;
    font-size: 30px;
    font-style: initial;  
  }

.item{
    --background: black;
    --color: #fff;
}

.login{
    color: white;
}
